form{
    background-color: azure;
    background-size: contain;
    height: 405px;
    width: 406px;
    margin: 150px;
}
fieldset{
    width: 300px;
    height: 400px;
}
textarea{
    height: 200px;
    width: 400px;
}