.inicio__header{
    background-image: url(../image/paisaje-digital-en-atardecer_2560x1440_xtrafondos.com.jpg);
    background-size: cover;
    width: 100%;
    height: 400px;    
}
header h1{
    color: white;
    font-size: 48px;
    height: 140px;
}